body{
	background-color:black;
	background-image:url('images1/bg.jpg');
	background-repeat:repeat;
}



div.top-menu{
	background-image:url('images1/pic-menu.jpg');
	background-repeat:no-repeat;
	width:800px;
	height:150px;
	margin-left:77px;
}

div.container div.top-menu menu{
	list-style-type:none;
}

div.top-menu menu ul {
	
	margin-top:-120px;
	

}

li.home-page{
	width:90px;
	margin-left:30px;
	text-align:center;
}
div.top-menu menu ul li.home-page a{
	margin-top:6px;
	white-space:nowrap;

}

a.margin{
	margin-left:25px;
}

div.top-menu menu ul li a{
	text-decoration:none;
	font-family:W_basmeh;
	color:white;
	font-size:20px;
	
}

div.top-menu menu ul li.home-page img{
	opacity:0;
	
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition:all 600ms;  
}

div.top-menu menu ul li.home-page:hover img{
	opacity:1;
	
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition:all 1s;  
}

div.top-menu img.logo{
	margin:15px 0 0 650px;
	
}